<table class="table table-striped bs-example">
    <thead>
    <tr>
      <th>id</th>
      <th>name</th>
    </tr>
  </thead>

  <tbody>
        {{#each people}} 
        <tr>
        <td><a href="people/{{id}}">{{id}}</a></td>
        <td><a href="people/{{id}}">{{name}}</a></td>
        </tr>
        {{/each}}
  </tbody>
</table>
