.user-avatar {
    width:150px
}

.templatemo-blue-button{
    background-color: rgb(0, 132, 138);
}

.blue-text{
    color: rgb(0, 132, 138);
}

h3{
    color: #767676;
}

.templatemo-view-img-btn{
    color:#6f6f6f;
}