<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My Site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/public/css/my.css">
</head>

<body>

    <nav class="navbar navbar-default" >
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="color: rgb(0, 0, 0);">Lab9</a>
            </div>
             <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li {{#if note_list}}class="active"{{/if}}><a href="/">note list</a></li>
                    <li {{#if note_new}}class="active"{{/if}}><a href="/new">new note</a></li>
                  </ul>
                   <p class="navbar-text navbar-right" style="margin-right:10px;color: rgb(0, 0, 0);">Zijing Huang</p>
             </div>
        </div>
        </nav>
    <main class="container">
                {{{body}}}
    </main>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="/public/javascript/bootstrap-datetimepicker.min.js"> </script>
    <script type="text/javascript">
        $(".form_datetime").datetimepicker({
            format: "yyyy-mm-dd hh:ii:ss"
        });
    </script>   
    <script src="/public/javascript/note.js"></script>
    <script src="/public/javascript/new.js"></script>
    <script src="public/javascript/tota11y.min.js"></script>
</body>

</html>